{% from "macro.njk" import dot with context %}

<!-- Same px as list-item -->
<ul class="mx-2 flex flex-row">
  {% for category, data in categoryData %}

  <li
    id="{{ 'filter' + (category | title) }}"
    class="my-4 mr-8 transition-[opacity] duration-100 last:mr-0 hover:opacity-75 active:opacity-100"
  >
    <button class="flex flex-row items-baseline">
      {{ dot(category) }} <span class="ml-2">{{ data.name }}</span>
    </button>
  </li>

  {% endfor %}
</ul>
