<template id="postTemplate">
  <!-- Filled in with post.type -->
  <li>
    <!-- Same px as filter -->
    <!-- Filled in with post.url -->
    <a
      class="flex flex-row items-baseline overflow-x-hidden whitespace-nowrap border-t border-gray-200 py-4 px-2 transition-[padding-left] duration-100 hover:pl-4 dark:border-gray-700"
    >
      <!-- Colored Dot -->
      <!-- Filled in with color based on post.type -->
      <span class="inline-block h-2 w-2 shrink-0 rounded-full"></span>

      <!-- Title -->
      <p class="flex-grow pl-2">
        <!-- Filled in with post.title and post.lang -->
      </p>

      <!-- Date -->
      <div
        class="flex-shrink overflow-hidden text-sm text-zinc-400 dark:text-zinc-500"
      >
        <!-- Filled in with date -->
      </div>
    </a>
  </li>
</template>
