{% from "macro.njk" import dot with context %}

<li
  class="{{ item.data.tags | join(' ') }}"
  x-show="!filter || $el.classList.contains(filter)"
>
  <!-- Same px as filter -->
  <a
    href="{{ item.url }}"
    class="flex flex-row items-baseline overflow-x-hidden whitespace-nowrap border-t border-gray-200 py-4 px-2 transition-[padding-left] duration-100 hover:pl-4 dark:border-gray-700"
  >
    <!-- Colored Dot -->
    {{ dot(item.data.tags[0]) }}

    <!-- Title -->
    <p class="flex-grow pl-2">{{ item.data.title }}</p>

    <!-- Date -->
    <div
      class="flex-shrink overflow-hidden text-sm text-zinc-400 dark:text-zinc-500"
    >
      {{ item.data.date | formatDate }}
    </div>
  </a>
</li>
