---
layout: 'base.njk'
---

<main class="flex flex-col md:h-screen md:flex-row">
  <section
    class="my-8 mx-4 flex flex-col items-center justify-center md:m-8 md:w-1/2"
  >
    {% include 'bio.njk' %}
  </section>

  {{ content | safe }}
</main>
{% include 'footer.njk' %}
