{% from "macro.njk" import icon %}

<div class="p-8 md:p-12">
  <div class="rose-zinc prose prose-teal mb-8 dark:prose-invert md:prose-lg">
    <h1 class="whitespace-nowrap font-mono">
      skorporaal.com<span class="inline-block -translate-x-1 animate-blink"
        >|</span
      >
    </h1>
    <p>
      Hello! My name is Stef Korporaal. I am currently a student of Software
      Development at the
      <a href="https://www.amsterdamuas.com"
        >Amsterdam University of Applied Sciences</a
      >'
      <a
        href="https://www.amsterdamuas.com/faculty/fdmci/faculty-of-digital-media-and-creative-industries.html"
        >Faculty of Digital Media and Creative Industries</a
      >, the fruits of which you are reading this on.
    </p>

    <p>
      My goal is not just to improve what programming skills I already have, but
      to learn what programming as part of team is like and to how to contribute
      to creating a product for someone else instead of just myself.
    </p>

    <div class="not-prose flex flex-row justify-start">
      <a
        class="flex w-min flex-row items-center rounded-full bg-zinc-200 dark:bg-zinc-700"
        target="_blank"
        rel="nofollower noreferrer noopener"
        href="https://github.com/Hellrespawn"
      >
        {{ icon('github') }}
        <div class="pl-4 pr-6 underline">Hellrespawn</div>
      </a>
    </div>
  </div>
</div>
