<div class="prose prose-stone prose-lg">
  <p>
    Hello! My name is Stef Korporaal. I am currently a student of Software
    Development at the [Amsterdam University of Applied
    Sciences](https://www.amsterdamuas.com)' [Faculty of Digital Media and
    Creative
    Industries](https://www.amsterdamuas.com/faculty/fdmci/faculty-of-digital-media-and-creative-industries.html),
    the fruits of which you are reading this on.
  </p>

  <p>
    My goal is not just to improve what programming skills I already have, but
    to learn what programming as part of team is like and to how to contribute
    to creating a product for someone else instead of just myself.
  </p>

  <p>
    As a part of that, this site will have some posts detailing aspects of my
    learning process. I can't guarantee that these are best practices, or even
    make sense outside of the specific courses I'm following, but they were
    useful to me at the time of writing.
  </p>

  <div class="flex flex-wrap">
    <div class="mx-auto">
      <h3 class="text-center">My previous experience</h3>
      <ul>
        <li>Bash/Shell Scripting</li>
        <li>Python 🐍</li>
        <li>Rust 🦀</li>
      </ul>
    </div>

    <div class="mx-auto">
      <h3 class="text-center">What I've worked on</h3>
      <ul>
        <li>SCRUM 🏉</li>
        <li>Modern HTML5 and CSS</li>
        <li>TypeScript  with a focus on OOP</li>
        <li>Databases and MySQL</li>
      </ul>
    </div>

    <div class="mx-auto">
      <h3 class="text-center">What I'm working on</h3>
      <ul>
        <li>Frontend Development with Angular</li>
        <li>Continuous Delivery & Testing</li>
        <li>UML</li>
      </ul>
    </div>
  </div>
</div>
