<footer
  class="relative flex flex-row justify-end bg-zinc-100 py-12 px-8 text-zinc-400 dark:bg-zinc-700 dark:text-zinc-400 md:px-12"
>
  {% include 'partials/theme-toggle.njk' %}
  <div>
    Copyright © 2022
    <a
      href="mailto:stef@skorporaal.com"
      class="transition-[color] duration-200 hover:text-zinc-900 hover:dark:text-zinc-50"
      >Stef Korporaal</a
    >
  </div>
</footer>
