<footer
  class="flex flex-row justify-end bg-gray-100 p-12 text-gray-400 dark:bg-gray-700 dark:text-gray-400"
>
  <div>
    Copyright © 2022
    <a href="mailto:stef@skorporaal.com" class="transition-all hover:underline"
      >Stef Korporaal</a
    >
  </div>
</footer>
