<ul>
  <% for (let i = 0; i < 20; i++) {%>
  <li>
    <%-
    include("/partials/title", { post:
      {
        title: `This is a title with number ${i}`,
        type: Math.random(0, 1) > 0.5 ? "recipe" : "post"
      }
    })
    %>
  </li>
  <% } %>
</ul>
