<div
  x-data="{
    filter: '',

    toggle(tag) {
      this.filter === tag ? this.filter = '' : this.filter = tag
    }
  }"
>
  {% include 'partials/filter.njk' %}

  <ul>
    {% for item in collections.all | filterPosts | reverse %}
      {% include "partials/list-heading.njk" %}
    {% endfor %}
  </ul>
</div>
