<% let items = collections.all.filter(item => typeof item.data.tags !==
'undefined').reverse(); %>

<div
  x-data="{
  filter: '',

  toggle(val) {
    this.filter === val ? this.filter = '' : this.filter = val
  }
}"
>
  <%- include("/partials/filter") %>
  <ul>
    <% for (const item of items) { %>
      <% const color = item.data.tags.includes("recipe") ? "bg-accent-500" : "bg-primary-500" %>
      <%- include("/partials/list-heading", { item, color }) %> <% } %>
  </ul>
</div>
