---
import { Content as Portfolio } from './Portfolio.md';
---

<div class="w-full lg:my-8">
  <h2 class="frontpage-heading">Portfolio</h2>

  <div class="prose-portfolio mx-auto">
    <Portfolio />
  </div>
</div>
