---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

type CoverPosition = "left" | "right";

interface Props {
    entry: CollectionEntry<"portfolio">;
    coverPosition?: CoverPosition;
}

const { entry, coverPosition = "left" } = Astro.props;

const data = entry.data;

console.log(data.cover);

const { Content } = await render(entry);
---

<div
    class:list={[
        "flex justify-between",
        {
            "flex-row": coverPosition === "left",
            "flex-row-reverse": coverPosition === "right",
        },
    ]}
>
    {
        data.cover && (
            <div
                class:list={[
                    "h-48 shrink-0 grow-0 basis-40 overflow-hidden border-y border-gray-900 transition-transform hover:scale-110 dark:border-gray-200",
                    {
                        "origin-left rounded-r-xl border-r":
                            coverPosition === "left",
                        "origin-right rounded-l-xl border-l":
                            coverPosition === "right",
                    },
                ]}
            >
                <Image
                    src={data.cover}
                    alt={data.name}
                    fit="cover"
                    class="h-full w-full"
                />
            </div>
        )
    }

    <div class="grow px-3 py-2 md:px-6 md:py-4">
        <h3 class="prose-portfolio">
            <a
                class="text-xl font-semibold"
                href={data.source}
                target="_blank"
                rel="nofollow noopener noreferrer">{data.name}</a
            >
        </h3>

        <div class="prose-portfolio">
            <Content />
        </div>
    </div>
</div>
