<% if (!(typeof title === 'string') || !title) { title = "NO TITLE SPECIFIED" }
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("/components/head") %>
  </head>
  <body class="bg-gray-50 text-gray-900">
    <%- content %>
  </body>
</html>
