---
layout: 'base.njk'
---

<main class="mx-4 flex flex-col items-center md:mx-0">
  <nav class="my-8">{% include 'top-bar.njk' %}</nav>
  <article
    class="prose-a:fancy-link prose-a:reset-text-color prose prose-zinc prose-teal border-t border-zinc-200 py-8 dark:prose-invert dark:border-zinc-700"
  >
    {% include 'post-heading.njk' %} {{ content | safe }}
  </article>
</main>

{% include 'footer.njk' %}
