---
layout: 'base.njk'
---

<div class="flex flex-col items-center px-4">
  <main>
    <nav class="border-b border-zinc-200 py-8 dark:border-zinc-700">
      {% include 'partials/top-bar.njk' %}
    </nav>
    <article class="prose prose-zinc prose-teal py-8 dark:prose-invert">
      <h1{{ title }}</h1>
        {{ content | safe }}
      </article>
    </main>
  </div>
