@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply my-1 flex flex-row items-baseline rounded-sm py-2 px-2 text-gray-700 transition-colors duration-75 hover:bg-gray-100 active:bg-gray-200 dark:text-gray-200 hover:dark:bg-gray-750 active:dark:bg-gray-700;
  }

  .button.button-clip {
    @apply m-0 p-0;
  }

  button.button-medium {
    @apply text-gray-600 dark:text-gray-300;
  }

  button.button-dark {
    @apply text-gray-400 dark:text-gray-500;
  }

  .prose-full {
    @apply prose-a:reset-text-color prose prose-lg prose-zinc prose-teal dark:prose-invert;
  }

  .prose-full a {
    @apply fancy-link fancy-internal-link;
  }

  .prose-full a[target="_blank"] {
    @apply fancy-external-link;
  }
}

@layer utilities {
  .fancy-link {
    @apply bg-gradient-to-r bg-[length:auto_36%] bg-[center_bottom_1px] bg-no-repeat;
  }

  .fancy-internal-link {
    @apply fancy-link from-tertiary-200 to-tertiary-200 dark:from-tertiary-900 dark:to-tertiary-900;
  }

  .fancy-external-link {
    @apply fancy-link from-secondary-200 to-secondary-200 dark:from-primary-700 dark:to-primary-700;
  }

  .reset-text-color {
    @apply text-gray-700 no-underline dark:text-gray-300;
  }

  .theme-shadow {
    @apply transition-shadow duration-100 md:shadow-md
    md:shadow-gray-400 md:hover:shadow-gray-500 md:dark:shadow-gray-900 md:dark:hover:shadow-mdlg md:dark:hover:shadow-black;
  }
}
