{% from "macro.njk" import icon %}

<div class="prose-full">
  <h1 class="whitespace-nowrap text-center font-mono md:text-left">
    skorporaal.com<span class="inline-block -translate-x-1 animate-blink"
      >|</span
    >
  </h1>
  <p>
    Hello! My name is {{ site.name }}. I am currently a student of Software
    Development at the
    <a
      target="_blank"
      rel="noopener noreferrer nofollow"
      href="https://www.amsterdamuas.com"
      >Amsterdam University of Applied Sciences</a
    >'
    <a
      target="_blank"
      rel="noopener noreferrer nofollow"
      href="https://www.amsterdamuas.com/faculty/fdmci/faculty-of-digital-media-and-creative-industries.html"
      >Faculty of Digital Media and Creative Industries</a
    >.
  </p>

  <p>This site serves as my personal blog and cookbook.</p>

  <div class="not-prose mt-12 flex flex-row justify-center">
    <a
      class="button button-clip flex w-min flex-row items-center rounded-l-full"
      target="_blank"
      rel="nofollower noreferrer noopener"
      href="{{ site.github }}"
    >
      {{ icon('github') }}
      <div class="fancy-link ml-4 mr-6">Hellrespawn</div>
    </a>
  </div>
</div>
