{% from "macro.njk" import dot %}

<template id="postTemplate">
  <!-- Filled in with post.type -->
  <li class="border-t border-gray-200 dark:border-gray-700">
    <!-- Same px as filter -->
    <a class="button postUrl flex flex-col items-baseline md:flex-row">
      <span class="flex flex-grow flex-row items-baseline gap-x-2">
        <!-- Colored Dot -->
        {{ dot("postDot") }}
        <!-- Title -->
        <p class="postTitle"></p
      ></span>

      <!-- Date -->
      <div
        class="postDate w-full whitespace-nowrap text-right text-sm text-gray-400 dark:text-gray-500 md:w-auto"
      ></div>
    </a>
  </li>
</template>
