{% from "macro.njk" import dot with context %}
{% include "feed-item-template.njk" %}

<div id="filter" class="flex flex-row items-center">
  {% for type, data in categoryData %}
  <button
    id="{{ type + 'FilterButton'}}"
    class="py-4 pl-2 pr-4 opacity-50 transition-opacity duration-100"
  >
    <span
      class="{{ data.color }} inline-block h-2 w-2 shrink-0 rounded-full"
    ></span>
    <span>{{ data.name }}</span>
  </button>
  {% endfor %}

  <div class="flex-grow"></div>

  <button
    id="sortAlphaButton"
    class="opacity-50 transition-opacity duration-100"
  >
    <span>{% include "icons/alpha.svg" %}</span>
  </button>

  <button id="sortDateButton" class="">
    <span>{% include "icons/calendar.svg" %}</span>
  </button>
</div>
<ul id="postFeed"></ul>
