{% from "macro.njk" import dot with context %}

{% include "feed-item-template.njk" %}
{% include "filter-button-template.njk" %}
{% include "sort-button-template.njk" %}

<div id="filter"></div>
<ul id="postFeed"></ul>
