{% from "macro.njk" import dot %}

<template id="postTemplate">
  <!-- Filled in with post.type -->
  <li>
    <!-- Same px as filter -->
    <a
      class="postUrl group flex flex-col items-baseline border-t border-gray-200 py-4 px-2 dark:border-gray-700 md:flex-row"
    >
      <span
        class="flex flex-grow flex-row items-baseline transition-transform duration-[50ms] group-hover:-translate-y-1 md:group-hover:translate-y-0 md:group-hover:translate-x-1"
      >
        <!-- Colored Dot -->
        {{ dot("postDot") }}
        <!-- Title -->
        <p class="postTitle pl-2"></p
      ></span>

      <!-- Date -->
      <div
        class="postDate w-full whitespace-nowrap text-right text-sm text-zinc-400 dark:text-zinc-500 md:w-auto md:text-left"
      ></div>
    </a>
  </li>
</template>
