{% from "macro.njk" import dot %}

<div class="flex flex-row items-center text-lg md:text-base">
  {% for type, data in (categoryData | dictsort) %}
  <button id="{{ type + 'FilterButton'}}" class="button">
    {{ dot(data.bg) }}
    <span class="pl-2">{{ data.plural }}</span>
  </button>
  {% endfor %}

  <div class="flex-grow"></div>

  <button
    id="sortButton"
    class="button button-medium whitespace-nowrap font-semibold"
  ></button>
</div>
