{% from "macro.njk" import dot with context %}

<div id="filter" class="flex flex-row items-center">
  {% for type, data in categoryData %}
  <button id="{{ type + 'FilterButton'}}" class="button">
    {{ dot(type) }}
    <span class="pl-2">{{ data.name }}</span>
  </button>
  {% endfor %}

  <div class="flex-grow"></div>

  <button id="sortButton" class="button sort whitespace-nowrap"></button>
</div>
