<template id="filterButtonTemplate">
  <!-- Colored Dot -->
  <!-- Filled in with color based on post.type -->

  <button class="py-4 pl-2 pr-4 opacity-50 transition-opacity duration-100">
    <span class="inline-block h-2 w-2 shrink-0 rounded-full"></span>
    <span></span>
  </button>
</template>
