<footer
  class="relative flex flex-row justify-end bg-zinc-100 py-12 px-8 text-zinc-400 dark:bg-zinc-700 dark:text-zinc-400 md:px-12"
>
  {% include 'theme-toggle.njk' %}
  <div>
    Copyright © 2022
    <a href="mailto:{{ site.email }}" class="fancy-external-link"
      >{{ site.name }}</a
    >
  </div>
</footer>
