<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ site.description }}" />

<!-- CDN fonts and styles -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/katex@latest/dist/katex.min.css"
/>

<!-- Local fonts and styles -->
<link rel="icon" href="/assets/favicon.png" />
<link rel="stylesheet" href="/assets/styles.out.css" />
<link rel="stylesheet" href="/assets/prism-vsc-dark-plus.out.css" />
<script src="/assets/darkMode.out.js"></script>
<script defer src="/assets/app.out.js"></script>

<title>
  {{ ("skorporaal.com - " + title) if title else "skorporaal.com " }}
</title>
