{% macro icon(name, classes = '') %}
<span
  class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-700 p-2 text-gray-50 dark:bg-gray-200 dark:text-gray-800 {{ classes }}"
>
  {% include "icons/" + name + ".svg" %}
</span>
{% endmacro %}

{% macro dot(classes='') %}
<span
  class="{{ classes }} inline-block h-2 w-2 shrink-0 rounded-full"
></span>
{% endmacro %}
