<!-- Category name -->
<div class="text-sm {{ data.text }}">{{ data.single }}</div>
<!-- Heading with border -->
<div
  class="{{ data.border }} flex flex-row flex-wrap-reverse items-center justify-between border-t-2 gap-x-4"
>
  <!-- Date -->
  <span class="text-gray-400 dark:text-gray-500"
    >{{ date | formatDate | safe }}</span
  >

  {% if authors %}<span class="italic">
    <!-- Authors -->
    {{ authors | join(", ")}}
  </span>
  {% endif %}
</div>
