---
import { Content as About } from '@c:About/About.md';
import Links from '@c:About/Links.astro';
import Photograph from '@c:About/Photograph.astro';
import Skills from '@c:/About/Skills.astro';
import RecipeMessageWrapper from '@c:/About/RecipeMessageWrapper.vue';
---

<div class="flex flex-col w-full h-full mx-auto md:gap-8">
  <div>
    <div
      class="flex flex-col items-start flex-shrink-0 float-left gap-4 my-4 mr-4"
    >
      <Photograph />
      <Links />
    </div>

    <div class="px-3 md:mx-auto prose-custom">
      <RecipeMessageWrapper client:load>
        <About />
      </RecipeMessageWrapper>
    </div>
  </div>

  <Skills />
</div>
