---
import Links from './Links.astro';
import { Content as About } from './About.md';
import { SITE_DATA } from '../../data';
---

<div>
  <div
    class="w-36 md:w-48 flex flex-col float-left mt-8 md:mt-0 mr-4 md:mr-8 border-y border-r border-gray-200 dark:border-gray-900 rounded-r-xl overflow-hidden"
  >
    <img
      alt={SITE_DATA.name}
      src="/assets/photograph.jpg"
      class="object-cover contrast-125 brightness-90"
    />
    <Links />
  </div>

  <div class="prose-custom mx-auto px-2 md:px-0">
    <About />
  </div>
</div>
