---
import Links from './Links.astro';
import Photograph from './Photograph.astro';
import { Content as About } from './About.md';
---

<div>
  <div
    class="flex flex-col items-start flex-shrink-0 float-left mr-4 md:mr-8 mt-2.5 md:mt-0 border-y border-r border-gray-200 dark:border-gray-900 rounded-r-xl overflow-hidden"
  >
    <Photograph />
    <Links />
  </div>

  <div class="prose-custom px-3 mx-auto">
    <About />
  </div>
</div>
