---
import Button from '../Button.astro';

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<Button interactive class="rounded-full">
  <a
    href={href}
    target="_blank"
    rel="nofollow noopener noreferrer"
    class="p-1.5 flex items-center justify-center"
  >
    <slot />
  </a>
</Button>
