---
import { SITE_DATA } from '../../data';
import Envelope from '../Icons/Envelope.astro';
import GitHub from '../Icons/GitHub.astro';
import LinkedIn from '../Icons/LinkedIn.astro';
import Twitter from '../Icons/Twitter.astro';
import Link from './Link.astro';
---

<div
  class="w-40 flex flex-row justify-around items-center p-0.5 bg-gray-700 text-gray-50 dark:bg-gray-200 dark:text-gray-800 border-gray-200 dark:border-gray-900"
>
  <Link href={SITE_DATA.github}>
    <GitHub />
  </Link>

  <Link href={SITE_DATA.linkedin}>
    <LinkedIn />
  </Link>

  <Link href={SITE_DATA.twitter}>
    <Twitter />
  </Link>

  <Link href={`mailto:${SITE_DATA.email}`}>
    <Envelope />
  </Link>
</div>
