---
import { SITE_DATA } from '../../data';
---

<div class="w-40 overflow-hidden border-gray-200 dark:border-gray-900">
  <img
    alt={SITE_DATA.name}
    src="/assets/photograph.jpg"
    class="object-cover contrast-125 brightness-90"
  />
</div>
