---
import { SITE_DATA } from '@s:data';
---

<div
  class="relative w-40 overflow-hidden border-gray-200 rounded-r-full dark:border-gray-900"
>
  <img
    alt={SITE_DATA.name}
    src="/assets/photograph.jpg"
    class="object-cover saturate-[10%]"
  />
  <div
    class="absolute top-0 right-0 bottom-0 left-0 bg-secondary-500 dark:bg-primary-500 opacity-[8%] rounded-r-full"
  >
  </div>
</div>
