---
import { SITE_DATA } from "@scripts/data";
import photoReference from "@src/images/photograph.jpg";
---

<div class="relative w-40 overflow-hidden rounded-l-full group">
  <img
    alt={SITE_DATA.name}
    src={photoReference}
    class="object-cover transition-[filter] duration-300 saturate-0 group-hover:saturate-[75%]"
  />
  <div
    class="absolute top-0 right-0 bottom-0 left-0 bg-secondary-500 dark:bg-primary-500 opacity-[20%] rounded-l-full group-hover:opacity-0 transition-opacity duration-300"
  >
  </div>
</div>
