---
import Skill from "./Skill.astro";
---

<div class="flex flex-col gap-8 my-8">
  <h2 class="text-2xl font-semibold text-center font-mono">My skills</h2>

  <div>
    <h3 class="text-xl text-center">Languages & Frameworks</h3>

    <Skill src="html" name="HTML" dark>
      Modern HTML with semantic elements.
    </Skill>

    <Skill src="css" name="CSS" dark>
      Modern CSS including Grid and FlexBox
    </Skill>

    <Skill src="angular" name="Angular" dark>
      Enterprise-grade frontend framework
    </Skill>

    <Skill src="typescript" name="TypeScript">
      Safe, sane and consensual JavaScript
    </Skill>

    <Skill src="rust" name="Rust" dark>Fast and correct</Skill>
  </div>

  <div>
    <h3 class="text-xl text-center">Technologies</h3>

    <Skill src="linux" name="Linux" dark>Free as in speech</Skill>

    <Skill src="git" name="Git & GitLab" dark>Version control and CI/CD</Skill>

    <Skill src="mysql" name="MySQL">My SQL could be your SQL</Skill>

    <Skill src="docker" name="Docker">
      Portable development and deployment
    </Skill>

    <Skill src="shell" name="Shell scripting" dark>
      Like herding <code>cat</code>s
    </Skill>
  </div>
</div>
