---
import type { CollectionEntry } from "astro:content";
import { getRecipes } from "../../collection";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import RecipeHeading from "../../components/RecipeHeading.astro";

export async function getStaticPaths() {
    const entries = await getRecipes();

    const paths = entries.map((entry) => {
        return {
            params: {
                slug: entry.slug,
            },
            props: { entry },
        };
    });

    return paths;
}

interface Props {
    entry: CollectionEntry<"recipe">;
}

const { entry } = Astro.props;

const recipe = entry.data;

const { Content } = await entry.render();
---

<BaseLayout title={recipe.title}>
    <Navigation showHome />
    <main class="flex flex-col items-center">
        <div class="w-full max-w-[65ch] px-3 md:px-0">
            <article class="py-3 md:pt-16">
                <RecipeHeading recipe={recipe} />
                <div class="prose-custom pt-8">
                    <h1 class="text-3xl">{recipe.title}</h1>

                    <Content />
                </div>
            </article>
        </div>
    </main>
</BaseLayout>
