---
layout: default.njk
title: 404 - Page not found!
permalink: /404.shtml
---

<section
  class="flex shrink-0 flex-col items-center py-16 md:w-1/2 md:py-0"
>
  {% include "home-button.njk" %}
  <div class="flex flex-col justify-center md:h-full">
    <h2 class="text-3xl">404 Error</h2>
    <h3 class="pb-4 text-2xl">Page not found!</h3>
  </div>
</section>
