---
permalink: /feed.json
---

{
  "posts": [
  {% for post in collections.all | filterPosts  %}
    {
      "title": "{{ post.data.title | safe }}",
      {# Guaranteed by filterPosts #}
      "type": "{{ post.data.tags[0] }}",
      "url": "{{ post.url }}",
      "lang": "{{ post.data.language }}"
      {% if post.data.date %}, "date": "{{ post.data.date | toISOString }}" {% endif %}
    }
  {% if not loop.last %},{% endif %}
  {% endfor %}
  ]
}
