---
import { SITE } from '@scripts/config'
---

<div class="prose-full">
  <a href="/">
    <h1 class="whitespace-nowrap text-center font-mono text-4xl md:text-left">
      skorporaal.com<span class="inline-block -translate-x-1 animate-blink">|</span>
    </h1>
  </a>
  <p>
    Hello! My name is
    <a class="fancy-internal-link" href="/about">{ SITE.name }</a>. I am
    currently a student of Software Development at the
    <a class="fancy-external-link" target="_blank" rel="nofollow noopener noreferrer"
      href="https://www.amsterdamuas.com">Amsterdam University of Applied Sciences</a>'
    <a class="fancy-external-link" target="_blank" rel="nofollow noopener noreferrer"
      href="https://www.amsterdamuas.com/faculty/fdmci/faculty-of-digital-media-and-creative-industries.html">Faculty
      of Digital Media and Creative Industries</a>.
  </p>
</div>
