---
export interface Props {
  class?: string
}

const { class: classes } = Astro.props as Props;
---

<div
  class={"transition-[outline-color] duration-100 bg-gray-700 outline outline-[6px] text-gray-50 dark:bg-gray-200 dark:text-gray-800 hover:outline-gray-100 active:outline-gray-200 hover:dark:outline-gray-750 outline-transparent active:dark:outline-gray-700 " + classes}>
  <slot />
</div>
