---
export interface Props {
    class?: string;
    side?: "left" | "right";
}

const { class: classes = "", side = "left" } = Astro.props as Props;

const sideClass =
    side === "left" ? "rounded-r-xl border-r" : "rounded-l-xl border-l";
---

<div
    class={`bg-gray-100 border-y border-gray-200 overflow-hidden dark:bg-gray-700 dark:border-gray-900 ${sideClass} ${classes}`.trim()}
>
    <slot />
</div>
