---
import { MarkdownInstance } from "astro"
import { Post } from "@scripts/post";
import Filter from "@components/Filter.astro";
import FeedItem from "@components/FeedItem.astro";

export interface Props {
    posts: MarkdownInstance<Post>[]
}

const { posts } = Astro.props as Props;
---

<Filter />

<ul id="postFeed" class="text-xl md:text-base">
    {posts.map((post) => <li class="border-t border-gray-200 dark:border-gray-700">
        <FeedItem post={post} />
    </li>)}
</ul>
