---
import { SITE_DATA } from "@s:data";
import { dateTimeToString } from "@s:common";

const dateString = dateTimeToString(SITE_DATA.builtAt);
---

<footer
  class="relative flex flex-col md:flex-row items-center justify-between px-4 py-8 text-gray-400 bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
>
  <div class="font-bold">
    Copyright © 2022
    <a href={`mailto:${SITE_DATA.email}`} class="fancy-link"
      >{SITE_DATA.name}
    </a>
  </div>
  <div>
    Last updated on <time datetime={SITE_DATA.builtAt.toISOString()}
      >{dateString}
    </time>
  </div>
</footer>
