---
import { SITE_DATA } from '../data';
import { DateFormatter } from '../date';
import BinaryClock from './BinaryClock';
import Button from './Button.astro';

const formatter = DateFormatter.getFormatter('long');

const dateString = formatter.formatDateTime({ date: SITE_DATA.builtAt });
---

<footer
  class="flex flex-col items-center bg-gray-100 text-gray-400 dark:bg-gray-700 dark:text-gray-400"
>
  <div
    class="flex w-full flex-col items-center justify-between gap-2 px-4 py-8 md:flex-row"
  >
    <div class="font-bold">
      Copyright © 2022
      <a href={`mailto:${SITE_DATA.email}`} class="fancy-link"
        >{SITE_DATA.name}
      </a>
    </div>

    <div>
      Last updated on <time datetime={SITE_DATA.builtAt.toISOString()}
        >{dateString}
      </time>
    </div>
  </div>

  <Button interactive class="w-fit rounded-t-xl px-2 py-1">
    <BinaryClock client:only="react" />
  </Button>
</footer>
