<div
  class="hidden fixed md:flex flex-col justify-center items-center -z-10 h-screen w-screen rotate-45 -translate-x-96 translate-y-96 blur-2xl isolate"
>
  <div
    class="w-screen h-48 dark:bg-primary-400 bg-secondary-400 mix-blend-multiply opacity-[8%] dark:opacity-[10%]"
  >
  </div>
  <div
    class="w-screen h-8 dark:bg-quaternary-400 bg-tertiary-400 mix-blend-multiply opacity-[10%] dark:opacity-[6%]"
  >
  </div>
</div>

<div
  class="fixed flex flex-col justify-center items-center -z-10 h-screen w-screen rotate-45 translate-x-96 -translate-y-96 blur-2xl isolate"
>
  <div
    class="w-screen h-8 dark:bg-quaternary-400 bg-tertiary-400 mix-blend-multiply opacity-[10%] dark:opacity-[6%]"
  >
  </div>
  <div
    class="w-screen h-48 dark:bg-primary-400 bg-secondary-400 mix-blend-multiply opacity-[8%] dark:opacity-[10%]"
  >
  </div>
</div>
