<div
  class="absolute top-0 bottom-0 left-0 right-1/2 -z-10 bg-gradient-to-b from-tertiary-400 to-secondary-400 opacity-10 dark:from-primary-400 dark:to-quaternary-400 via-transparent dark:opacity-[5%] pointer-events-none"
>
</div>
<div
  class="absolute top-0 bottom-0 left-1/2 right-0 -z-10 bg-gradient-to-t from-tertiary-400 to-secondary-400 opacity-10 dark:from-primary-400 dark:to-quaternary-400 via-transparent dark:opacity-[5%] pointer-events-none"
>
</div>
