---
import GitHub from "../components/Icons/GitHub.astro";
---

<a class="w-full pr-0 rounded-l-full button" href="/">
  <div
    class="flex flex-row items-center w-full text-center bg-gray-700 rounded-l-full text-gray-50 dark:bg-gray-200 dark:text-gray-800 ">
    <GitHub />
    Hellrespawn
  </div>
</a>
