---
import Button from "@c:Button.astro";
import Home from "@c:Icons/Home.astro";
import ThemeToggle from "@c:ThemeToggle/ThemeToggle.astro";

export interface Props {
  showHome?: boolean;
}

const { showHome = false } = Astro.props as Props;
---

<nav
  class="flex flex-col gap-4 justify-start md:fixed md:left-0 mt-4 md:mt-0 md:top-4 z-10 w-fit"
>
  <ThemeToggle />

  {showHome && (
    <a href="/">
      <Button
        interactive
        class="flex flex-row items-center gap-3 rounded-r-3xl p-2"
      >
        <Home />
      </Button>
    </a>
  )}
</nav>
