---
import Button from './Button.astro';
import Home from './Icons/Home.astro';
import ThemeToggle from './ThemeToggle/ThemeToggle.astro';

export interface Props {
  showHome?: boolean;
}

const { showHome = false } = Astro.props as Props;
const buttonClass =
  'flex flex-row items-center gap-3 py-2 lg:shadow-sm lg:shadow-gray-500 lg:dark:shadow-black';
---

<nav
  class="flex flex-row justify-between lg:fixed lg:left-0 mt-4 lg:mt-0 lg:top-4 z-10 w-full pointer-events-none"
>
  <ThemeToggle
    class={`${buttonClass} pl-1 pr-2 rounded-r-full pointer-events-auto`}
  />

  {
    showHome && (
      <a class="pointer-events-auto" href="/">
        <Button interactive class={`${buttonClass} rounded-l-full pl-2 pr-1`}>
          <Home />
        </Button>
      </a>
    )
  }
</nav>
