---
import type { Post } from '../collection';
import { DateFormatter } from '../date';

export interface Props {
  post: Post;
}

const { post } = Astro.props as Props;

const dateFormatter = DateFormatter.getFormatter('long');

const formattedDate = dateFormatter.formatDate(post);
---

<!-- Category name -->
<div class="text-sm text-secondary-500">Recipe</div>
<!-- Heading with border -->
<div
  class="border-secondary-500 flex flex-row flex-wrap-reverse items-center justify-between border-t-2 gap-x-4"
>
  <!-- Date -->
  <span class="text-gray-400 dark:text-gray-500">{formattedDate}</span>

  <span class="italic">
    <!-- Authors -->
    {post.authors}
  </span>
</div>
