---
import { type CategoryData } from '@s:data';
import { type FullPost } from '@s:post';

export interface Props {
  post: FullPost;
  accent: CategoryData;
}

const { accent, post } = Astro.props as Props;
---

<!-- Category name -->
<div class={`text-sm ${accent.text}`}>{accent.single}</div>
<!-- Heading with border -->
<div
  class={`${accent.border} flex flex-row flex-wrap-reverse items-center justify-between border-t-2 gap-x-4`}
>
  <!-- Date -->
  <span class="text-gray-400 dark:text-gray-500"
    >{post.getFormattedDate('long')}
  </span>

  <span class="italic">
    <!-- Authors -->
    {post.authors}
  </span>
</div>
