---
import type { Recipe } from "../collection";
import { DateFormatter } from "../date";

export interface Props {
    recipe: Recipe;
}

const { recipe } = Astro.props as Props;

const authors = recipe.authors.join(", ");

const dateFormatter = DateFormatter.getFormatter("long");

const formattedDate = dateFormatter.formatDate(recipe);
---

<div class="text-tertiary-500 dark:text-primary-500 text-sm font-semibold">
    Recipe
</div>
<!-- Heading with border -->
<div
    class="border-tertiary-500 dark:border-primary-500 flex flex-row flex-wrap-reverse items-center justify-between gap-x-4 border-t-2"
>
    <!-- Date -->
    <span class="text-gray-400 dark:text-gray-500">{formattedDate}</span>

    <span class="italic">
        <!-- Authors -->
        {authors}
    </span>
</div>
