<h1 class="font-mono text-4xl font-bold text-center whitespace-nowrap">
  <a href="/" class="fancy-link">skorporaal.com</a><span
    class="inline-block -translate-x-1 animate-blink"
    >|
  </span>
</h1>
