---
import { SITE_DATA } from "../data";
---

<section class="my-8 flex flex-col items-center md:my-24">
    <h1 class="text-center font-mono text-4xl font-bold whitespace-nowrap">
        <a href="/" class="fancy-link">{SITE_DATA.url}</a><span
            class="animate-blink inline-block -translate-x-1"
            >|
        </span>
    </h1>
</section>
