---
import { SITE_DATA } from "../data";
---

<section class="my-8 flex flex-col items-center md:my-24">
    <h1 class="whitespace-nowrap text-center font-mono text-4xl font-bold">
        <a href="/" class="fancy-link">{SITE_DATA.url}</a><span
            class="inline-block -translate-x-1 animate-blink"
            >|
        </span>
    </h1>
</section>
