---
import Home from "@c:Icons/Home.astro";
import Button from "@c:Button.astro";
---

<nav class="my-8">
  <div class="flex flex-row justify-center">
    <a href="/">
      <Button class="p-2 rounded-full">
        <Home />
      </Button>
    </a>
  </div>
</nav>
