---
import Home from '@components/Icons/Home.astro'
---

<nav class="my-8">
  <div class="flex flex-row justify-center">
    <a class="button rounded-full" href="/">
      <Home />
    </a>
  </div>
</nav>
