---
import Home from "@components/Icons/Home.astro";
---

<nav class="my-8">
  <div class="flex flex-row justify-center">
    <a class="rounded-full button" href="/">
      <Home />
    </a>
  </div>
</nav>
