<div>
    <div class="relative h-full w-12 md:w-20">
        <!-- Line -->
        <div class="mx-auto h-full w-1 bg-gray-300 md:w-1.5 dark:bg-gray-400">
        </div>
        <!-- Node -->
        <div
            class="bg-secondary-300 dark:bg-primary-400 absolute top-0 bottom-0 left-3 my-auto h-6 w-6 rounded-full border-4 border-gray-300 md:left-7 dark:border-gray-400"
        >
        </div>
    </div>
</div>
