<div>
  <div class="h-full w-12 md:w-20 relative">
    <!-- Line -->
    <div class="bg-gray-300 dark:bg-gray-400 w-1 md:w-1.5 h-full mx-auto"></div>
    <!-- Node -->
    <div
      class="absolute w-6 h-6 bg-secondary-300 dark:bg-primary-400 rounded-full left-3 md:left-7 top-0 bottom-0 my-auto border-4 border-gray-300 dark:border-gray-400"
    >
    </div>
  </div>
</div>
