<div>
    <div class="relative h-full w-12 md:w-20">
        <!-- Line -->
        <div class="mx-auto h-full w-1 bg-gray-300 dark:bg-gray-400 md:w-1.5">
        </div>
        <!-- Node -->
        <div
            class="absolute bottom-0 left-3 top-0 my-auto h-6 w-6 rounded-full border-4 border-gray-300 bg-secondary-300 dark:border-gray-400 dark:bg-primary-400 md:left-7"
        >
        </div>
    </div>
</div>
