---
import Card from '../Card/Card.astro';
import Line from './Line.astro';
---

<div class="flex flex-row items-stretch justify-between">
  <Line />

  <Card
    side="right"
    class="pl-12 p-4 w-full my-8 flex items-center justify-between"
  >
    <slot />
  </Card>
</div>
