---
import { getTimelineEntries } from '../../collection';
import TimelineEntry from './TimelineEntry.astro';

const entries = await getTimelineEntries();
---

<div class="w-full my-4 md:my-8">
  <h2 class="frontpage-heading">Timeline</h2>

  {entries.map((entry) => <TimelineEntry entry={entry} />)}
</div>

<!-- <h2 class="frontpage-heading">Recipes</h2>

<Recipes /> -->
