---
import Card from '../Card/Card.astro';
import Line from './Line.astro';
---

<div class="flex flex-row items-stretch justify-between">
  <Line />

  <Card side="right" class="w-full my-8 px-4 py-8">
    <slot />
  </Card>
</div>
