---
import Sun from "@c:Icons/Sun.astro";
import Moon from "@c:Icons/Moon.astro";
import Button from "@c:Button.astro";
import ThemeToggle from "@c:ThemeToggle/_ThemeToggle.svelte";
---

<ThemeToggle client:load>
  <Button
    class="static flex items-center justify-center w-12 h-12 p-2 rounded-full shadow-sm cursor-pointer dark:shadow-lg shadow-gray-900 top-4 left-4 md:fixed md:bottom-4">
    <button tabindex="0" aria-label="toggle theme">
      <span class="hidden rounded-full dark:inline">
        <Sun />
      </span>
      <span class="rounded-full dark:hidden">
        <Moon />
      </span>
    </button>
  </Button>
</ThemeToggle>
