---
layout: base.ejs
---

<main class="flex flex-row">
  <% for (const column of ["about", "list"]) {%>
  <section
    class="flex h-screen w-[50%] flex-col justify-center"
  >
    <%- include(`/components/${column}`) %>
  </section>
  <% } %>
</main>
