---
import BaseLayout from "@layouts/BaseLayout.astro";
import Bio from "@components/About/Bio.astro";
import Footer from "@components/Footer.astro";
---

<BaseLayout>
  <main class="flex flex-col flex-grow md:min-h-screen md:flex-row">
    <section
      class="flex flex-col items-center justify-center px-4 pt-8 md:h-screen md:w-1/2 md:flex-none md:px-8 md:pt-0"
    >
      <Bio />
    </section>

    <section class="flex-none md:w-1/2">
      <slot></slot>
    </section>
  </main>
  <Footer />
</BaseLayout>
