---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@components/Footer.astro";
import TopNav from "@components/TopNav.astro";
import PostHeading from "@components/PostHeading.astro";
import { type FullPost } from "@scripts/post";

export interface Props {
  post: FullPost;
}

const { post } = Astro.props as Props;
---

<BaseLayout title={post.title}>
  <main class="flex flex-col items-center">
    <div class="mx-3 md:mx-0">
      <TopNav />
      <article lang={post.lang} class="w-full">
        <PostHeading post={post} />
        <div class="py-8 prose-full">
          <h1 class="text-3xl">{post.title}</h1>

          <post.component />
        </div>
      </article>
    </div>
  </main>

  <Footer />
</BaseLayout>
