---
import BaseLayout from "@l:BaseLayout.astro";
import Footer from "@c:Footer.astro";
import TopNav from "@c:TopNav.astro";
import PostHeading from "@c:PostHeading.astro";
import { type FullPost } from "@s:post";

export interface Props {
  post: FullPost;
}

const { post } = Astro.props as Props;
---

<BaseLayout title={post.title}>
  <main class="flex flex-col items-center">

    <nav class="self-start mt-4 mb-8 md:-mb-12">
      <TopNav />
    </nav>

    <div class="px-3 md:px-0 w-full max-w-[65ch]">
      <article lang={post.lang}>
        <PostHeading post={post} />
        <div class="py-8 prose-custom">
          <h1 class="text-3xl">{post.title}</h1>

          <post.component />
        </div>
      </article>
    </div>
  </main>

  <Footer />
</BaseLayout>
