<ul class="flex flex-row">
  <% const filters = [
    { name: 'Recipes', type: 'recipe', color: 'bg-accent-500' },
    { name: 'Posts', type: 'post', color: 'bg-primary-500' },
  ]; %>

  <% for (const { name, type, color } of filters) { %>

  <li
    :class="filter !== '<%= type %>' && 'opacity-50'" class="transition-[opacity] duration-100 hover:opacity-75 py-4 pr-8 last:pr-0"
  >
    <button @click="toggle('<%= type %>')">
      <%- include("/partials/dot", { color }) %> <%= name %>
    </button>
  </li>

  <% } %>
</ul>
