{% from "macro.njk" import icon %}

<div
  x-data
  @click="toggleDarkMode()"
  class="absolute md:fixed bottom-8 md:bottom-4 left-4 cursor-pointer"
>
  {{ icon('sun', 'md:shadow-md md:shadow-zinc-400 md:dark:shadow-zinc-900') }}
</div>
