<div x-data @click="toggleDarkMode()" class="fixed bottom-4 left-4 cursor-pointer">
  <%- include("/partials/icon", {
    name: "sun",
    classes: 'shadow-md shadow-zinc-400 dark:shadow-zinc-900'
  }) %>
</div>
