<%
let color = "bg-primary-500";

if (typeof post.type === "string" && post.type === "recipe") {
  color = "bg-accent-500";
}
%>

<div class="flex flex-row items-baseline gap-2 border-t border-gray-200 py-4">
  <div class="inline-block h-2 w-2 rounded-full <%= color %>"></div>
  <h3><%= post.title %></h3>
</div>
